@import url('https://fonts.googleapis.com/css?family=Alegreya|Kaushan+Script');

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Alegreya';
  font-size: 1rem;
}


/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); 
  padding: 20px 25px;
}

.nav-item {
  font-family: 'Kaushan', sans-serif;
  font-size: 1.5rem;
  margin-left: 10px;
}


/* Hero image */
.cover-image {
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



/* About Header */
.about {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.about h1 {
  font-weight: bold;
  font-size: 30px;
}

.about p {
  font-style: italic;
  font-size: 20px;
}

/* About Cards*/

.about-cards {
  display: grid;
  margin: 20px 50px;
  grid-template-columns: repeat(5, 1fr) ;
  grid-column-gap: 1em;
  grid-template-rows: repeat(3, 200px) ;
  grid-row-gap: 1em;
  grid-template-areas:
  "intro1 intro1 image1 intro2 intro2"
  "image2  intro3 intro3 intro4 image4"
  "intro5 intro5 image3  intro4 .";
}

.intro1 {
  grid-area: intro1;
  width: 100%;
}

.intro2{
    grid-area: intro2;
    width: 100%;
}

.intro3{
    grid-area: intro3;
    width: 100%;
}

.intro4{
    grid-area: intro4;
    width: 100%;
}

.intro5{
    grid-area: intro5;
    width: 100%;
}

.about-cards img {
  width: 100%;
  height: 100%;
}

.image1 {
   grid-area: image1;
}

.image12 {
   grid-area: image2;
}

.image3 {
   grid-area: image3;
}

.image4 {
   grid-area: image4;
}


/* All Cards */

.card {
  padding: 10px;
}

.card-title {
  font-weight: bold;
  color: #000;
  text-align: center!important;
  font-size: 20px!important;
}

.card-text {
  text-align: center;
}



/* Hotel Header */
.hotels {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.hotels h1 {
  font-weight: bold;
  font-size: 30px;
}

.hotels p {
  font-style: italic;
  font-size: 20px;
}

/* Hotel Cards*/

.hotel-cards {
  display: grid;
  margin: 20px 50px;
  grid-template-columns: repeat(4, 1fr) ;
  grid-column-gap: 1em;
  grid-template-rows: repeat(2, 300px) ;
  grid-row-gap: 1em;
  grid-template-areas:
  "hotel1 hotel1 hotel2 hotel3"
  "hotel1 hotel1 hotel4 hotel5";
}

.hotel1 {
  grid-area: hotel1;
  width: 100%;
}

.hotel2{
    grid-area: hotel2;
    width: 100%;
}

.hotel3{
    grid-area: hotel3;
    width: 100%;
}

.hotel4{
    grid-area: hotel4;
    width: 100%;
}

.hotel5{
    grid-area: hotel5;
    width: 100%;
}













/* Footer */
.page-footer {
  background-color: #1C2331; 
}

.footer-icons {
  font-size: 2rem;
}

.footer-copyright {
  color: #fff;
  font-size: 1.5rem;
}






/* Media queries */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
 
 .about-cards {
  display: grid;
  margin: 2px 5px;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 3fr;
  grid-row-gap: 1em;
  grid-template-areas:
  "intro1"
  "intro2"
  "intro3";
}
 .about-cards img {
  display: none;
}
  



  }

