@import url('https://fonts.googleapis.com/css?family=Alegreya|Kaushan+Script');

body, 
html {
  height: 100%;
  margin: 0;
  font-family: 'Alegreya';
  font-size: 1rem;
}


/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); 
}


/* Hero image */
.cover-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}